# Preprocessing Data

In [53]:
# Import required packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Load national data by state

In [42]:
columns_kept = ['startdate',
 'recordeddate',
 'responseid',
 'age',
 'sex_birth',
 'gender_male',
 'gender_female',
 'gender_transm',
 'gender_transf',
 'sexual_other',
 'gender_nonbin',
 'gender_selfid',
 'sexual_h',
 'sexual_l',
 'sexual_g',
 'sexual_bi',
 'sexual_queer',
 'sexual_quest',
 'sexual_asexual',
 'sexual_pan',
 'race_black',
 'race_ainaan',
 'race_asian',
 'race_his',
 'race_pi',
 'race_mides',
 'race_white',
 'race_other',
 'international',
 'educ_par1',
 'educ_par2',
 'scholarship_status_1',
 'children_dep',
 'hours_work_paid',
 'transfer',
 'covid_clsformat',
 'yr_sch',
 'enroll',
 'persist',
 'q2_wtg_3',
 'q2_wtg_6_1',
 'disab_1',
 'disab_2',
 'positive_mental_health',
 'risk_of_depression',
 'anxiety',
 'timestud',
 'sui_idea',
 'lone_isolated',
 'abuse_life',
 'assault_emo',
 'alc_any',
 'sub_cig',
 'sub_any',
 'exerc',
 'sleep_wknight',
 'dx_any',
 'knowwher',
 'percneed',
 'meds_any',
 'degree_ass',
 'degree_bach',
 'degree_ma',
 'degree_jd',
 'degree_md',
 'degree_phd',
 'degree_other',
 'degree_nd',
 'gr_a',
 'gr_b',
 'gr_c',
 'gr_d',
 'gr_f',
 'gr_none',
 'gr_dk',
 'satisfied_overall',
 'camp_supp',
 'env_mh',
 'deport_worry',
 'fincur',
 'finpast',
 'food_worry',
 'food_notlast',
 'inst_state'
]

In [7]:
national = pd.read_csv("../10_data/national20212022_PUBLIC_state.csv")
national

/var/folders/0d/23x0hjl172sgh7hhvyngkf9m0000gn/T/ipykernel_2130/929419465.py:1: DtypeWarning: Columns (13,24,33,39,45,52,74,96,98,102,135,151,171,188,219,222,263,345,353,360,365,371,379,387,400,405,417,432,515,521,527,533,539,545,551,558,567,588,589,624,657,675,676,729,759,760,767,786,792,801,815,849,862,883,915,920,922,941,1023,1069,1070,1071,1072,1090,1120,1136,1149,1157,1207,1246,1263,1276,1285,1295,1329,1375,1456,1458,1557,1564,1572,1574,1587,1614,1641,1648,1656,1658,1659,1665,1666,1667,1668) have mixed types. Specify dtype option on import or set low_memory=False.
  national = pd.read_csv("../10_data/national20212022_PUBLIC_state.csv")

,startdate,recordeddate,responseid,age,sex_birth,gender_male,gender_female,gender_transm,gender_transf,sexual_other,...,inst_HMSyear,inst_size,inst_type,inst_public,inst_acarank,inst_geo,inst_specart,inst_speccc,inst_gradrate,inst_state
0,2022-04-11 15:09:58,2022-05-03 09:50:02,R_AuF1Zh0r7wJJY3L,19.0,2.0,1.0,NaN,NaN,NaN,NaN,...,2021-22,4,Associate's Colleges,1,7,9,0,1,35,California
1,2022-04-17 04:27:57,2022-04-17 04:48:29,R_3nI424DBkE5Ixmt,19.0,1.0,NaN,1.0,NaN,NaN,NaN,...,2021-22,4,Associate's Colleges,1,7,9,0,1,35,California
2,2022-04-22 09:54:31,2022-04-22 13:49:38,R_32J8GAWh6IOIYxm,20.0,2.0,1.0,NaN,NaN,NaN,NaN,...,2021-22,4,Associate's Colleges,1,7,9,0,1,35,California
3,2022-04-13 18:48:59,2022-05-03 09:52:47,R_1lizI3iHB2UE7O1,18.0,2.0,1.0,NaN,NaN,NaN,NaN,...,2021-22,4,Associate's Colleges,1,7,9,0,1,35,California
4,2022-04-21 17:14:42,2022-05-03 09:56:15,R_3ELrwNOuqQ7bzmP,49.0,1.0,NaN,1.0,NaN,NaN,NaN,...,2021-22,4,Associate's Colleges,1,7,9,0,1,35,California
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95855,2022-02-16 13:53:27,2022-03-14 12:42:38,R_2AGs1zFKqyFVWj0,21.0,1.0,NaN,1.0,NaN,NaN,NaN,...,2021-22,2,Baccalaureate Colleges,0,1,9,0,0,87,Washington
95856,2022-02-28 11:23:31,2022-03-14 12:44:17,R_1LcaZKgoUQLvN1o,20.0,1.0,NaN,1.0,NaN,NaN,NaN,...,2021-22,2,Baccalaureate Colleges,0,1,9,0,0,87,Washington
95857,2022-02-24 20:04:13,2022-02-24 20:50:35,R_7NYtlZIPoo4LyUh,20.0,2.0,1.0,NaN,NaN,NaN,NaN,...,2021-22,2,Baccalaureate Colleges,0,1,9,0,0,87,Washington
95858,2022-03-01 14:24:55,2022-03-01 21:51:29,R_2Ep0PMy8iM5lXmG,21.0,1.0,NaN,NaN,NaN,NaN,NaN,...,2021-22,2,Baccalaureate Colleges,0,1,9,0,0,87,Washington
95859,2022-03-09 15:11:07,2022-03-09 23:32:03,R_20TiweldPd5RRj5,21.0,1.0,NaN,1.0,NaN,NaN,NaN,...,2021-22,2,Baccalaureate Colleges,0,1,9,0,0,87,Washington

In [43]:
national_subset = national[columns_kept]

In [52]:
national_subset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95860 entries, 0 to 95859
Data columns (total 85 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   startdate               95860 non-null  object
 1   recordeddate            95860 non-null  object
 2   responseid              95860 non-null  object
 3   age                     95860 non-null  float64
 4   sex_birth               95690 non-null  float64
 5   gender_male             95860 non-null  float64
 6   gender_female           95860 non-null  float64
 7   gender_transm           95860 non-null  float64
 8   gender_transf           95860 non-null  float64
 9   sexual_other            95860 non-null  float64
 10  gender_nonbin           95860 non-null  float64
 11  gender_selfid           95860 non-null  float64
 12  sexual_h                95860 non-null  float64
 13  sexual_l                95860 non-null  float64
 14  sexual_g                95860 non-null  float64
 15  sexual_bi               95860 non-null  float64
 16  sexual_queer            95860 non-null  float64
 17  sexual_quest            95860 non-null  float64
 18  sexual_asexual          95860 non-null  float64
 19  sexual_pan              95860 non-null  float64
 20  race_black              95860 non-null  float64
 21  race_ainaan             95860 non-null  float64
 22  race_asian              95860 non-null  float64
 23  race_his                95860 non-null  float64
 24  race_pi                 95860 non-null  float64
 25  race_mides              95860 non-null  float64
 26  race_white              95860 non-null  float64
 27  race_other              95860 non-null  float64
 28  international           95375 non-null  float64
 29  educ_par1               92780 non-null  float64
 30  educ_par2               91551 non-null  float64
 31  scholarship_status_1    33436 non-null  float64
 32  children_dep            92855 non-null  float64
 33  hours_work_paid         92869 non-null  float64
 34  transfer                56055 non-null  float64
 35  covid_clsformat         90837 non-null  float64
 36  yr_sch                  88033 non-null  float64
 37  enroll                  90733 non-null  float64
 38  persist                 85270 non-null  float64
 39  q2_wtg_3                19885 non-null  float64
 40  q2_wtg_6_1              19474 non-null  float64
 41  disab_1                 88836 non-null  float64
 42  disab_2                 8472 non-null   float64
 43  positive_mental_health  85142 non-null  object
 44  risk_of_depression      80822 non-null  object
 45  anxiety                 85011 non-null  float64
 46  timestud                88710 non-null  float64
 47  sui_idea                85867 non-null  float64
 48  lone_isolated           85849 non-null  float64
 49  abuse_life              85603 non-null  float64
 50  assault_emo             85679 non-null  float64
 51  alc_any                 85512 non-null  float64
 52  sub_cig                 78355 non-null  float64
 53  sub_any                 76295 non-null  float64
 54  exerc                   83417 non-null  float64
 55  sleep_wknight           78871 non-null  float64
 56  dx_any                  79124 non-null  float64
 57  knowwher                59681 non-null  float64
 58  percneed                84265 non-null  float64
 59  meds_any                82319 non-null  float64
 60  degree_ass              15655 non-null  float64
 61  degree_bach             57365 non-null  float64
 62  degree_ma               10257 non-null  float64
 63  degree_jd               786 non-null    float64
 64  degree_md               1067 non-null   float64
 65  degree_phd              5541 non-null   float64
 66  degree_other            2607 non-null   float64
 67  degree_nd               2142 non-null   float64
 68  gr_a                    63158 non-null  float64
 69  gr_b                    39361 non-null  float64
 70  gr_c                    9095 non-null   float64
 71  gr_d                    990 non-null    float64
 72  gr_f                    346 non-null    float64
 73  gr_none                 402 non-null    float64
 74  gr_dk                   4393 non-null   float64
 75  satisfied_overall       89845 non-null  float64
 76  camp_supp               38789 non-null  float64
 77  env_mh                  36904 non-null  float64
 78  deport_worry            16481 non-null  float64
 79  fincur                  93311 non-null  float64
 80  finpast                 93225 non-null  float64
 81  food_worry              6002 non-null   float64
 82  food_notlast            5999 non-null   float64
 83  inst_state              95860 non-null  object
 84  first_gen               95860 non-null  bool
dtypes: bool(1), float64(78), object(6)
memory usage: 61.5+ MB

In [46]:
national_subset['gender_transm'].value_counts()

1.0    797
Name: gender_transm, dtype: int64

In [49]:
# Gender variables
national_subset.loc[national_subset['gender_male'].isna(), 'gender_male'] = 0
national_subset.loc[national_subset['gender_female'].isna(), 'gender_female'] = 0
national_subset.loc[national_subset['gender_transm'].isna(), 'gender_transm'] = 0
national_subset.loc[national_subset['gender_transf'].isna(), 'gender_transf'] = 0
national_subset.loc[national_subset['gender_nonbin'].isna(), 'gender_nonbin'] = 0
national_subset.loc[national_subset['gender_selfid'].isna(), 'gender_selfid'] = 0

# Sexuality variables
national_subset.loc[national_subset['sexual_h'].isna(), 'sexual_h'] = 0
national_subset.loc[national_subset['sexual_l'].isna(), 'sexual_l'] = 0
national_subset.loc[national_subset['sexual_g'].isna(), 'sexual_g'] = 0
national_subset.loc[national_subset['sexual_bi'].isna(), 'sexual_bi'] = 0
national_subset.loc[national_subset['sexual_queer'].isna(), 'sexual_queer'] = 0
national_subset.loc[national_subset['sexual_quest'].isna(), 'sexual_quest'] = 0
national_subset.loc[national_subset['sexual_asexual'].isna(), 'sexual_asexual'] = 0
national_subset.loc[national_subset['sexual_pan'].isna(), 'sexual_pan'] = 0
national_subset.loc[national_subset['sexual_other'].isna(), 'sexual_other'] = 0


# Race variables
national_subset.loc[national_subset['race_black'].isna(), 'race_black'] = 0
national_subset.loc[national_subset['race_ainaan'].isna(), 'race_ainaan'] = 0
national_subset.loc[national_subset['race_asian'].isna(), 'race_asian'] = 0
national_subset.loc[national_subset['race_his'].isna(), 'race_his'] = 0
national_subset.loc[national_subset['race_pi'].isna(), 'race_pi'] = 0
national_subset.loc[national_subset['race_mides'].isna(), 'race_mides'] = 0
national_subset.loc[national_subset['race_white'].isna(), 'race_white'] = 0
national_subset.loc[national_subset['race_other'].isna(), 'race_other'] = 0

In [54]:
# First-gen variables
national_subset['first_gen'] = (national_subset['educ_par1'] < 4) & (national_subset['educ_par2'] < 4)
national_subset.loc[(national_subset['educ_par1'].isna()) & (national_subset['educ_par2'].isna()), 'first_gen'] = np.nan

/var/folders/0d/23x0hjl172sgh7hhvyngkf9m0000gn/T/ipykernel_2130/3300803232.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  national_subset['first_gen'] = (national_subset['educ_par1'] < 4) & (national_subset['educ_par2'] < 4)

In [ ]:
national_subset.loc[national_subset['scholarship_status_1'] == 1, 'scholarship_status_1'] = 0
national_subset.loc[national_subset['scholarship_status_1'].isna(), 'scholarship_status_1'] = 1